.token-wrapper{
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 15px;
  overflow-y: scroll;
  height: 85vh;
}

.address-wrapper{
  border-radius: 15px;
  overflow-y: scroll;
  height: 92vh;
}

.wallet-wrapper{
  margin-top: 13px;
  overflow-y: auto;
  height: 85.7vh;
}